* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: "Clash Display", sans-serif;
}
h2 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-block: 36px;
}
h3 {
  font-weight: 400;
  font-size: 20px;
}
p {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
}

.cards {
  max-width: 1280px;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
}

.card {
  height: 244px;
  width: 305px;
  background-color: #f9f9f9;
  padding: 48px;
}
