body {
  background-image: url(https://images.pexels.com/photos/237266/pexels-photo-237266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.qizil {
  color: red;
}
.sariq {
  color: yellow;
}
.yashil {
  color: green;
}

div {
  padding: 3px;
  margin: 3px;
  border: 3px solid brown;
  border-radius: 18px;
}
button {
  padding: 30px;
  margin: 30px;
  border-radius: 9px;
}
.aqua {
  border: 3px solid aquamarine;
}

.fiolet {
  border: 3px solid rebeccapurple;
}

.pushti {
  border: 3px solid pink;
}
